---
import path from 'node:path'
import Heading from '@components/misc/Heading.astro'
import ImageWrapper from '@components/misc/ImageWrapper.astro'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'
import { getDinosOfTheMonth } from '@utils/content-utils'
import { formatDateToMMMYYYY } from '@utils/date-utils'
import { getDir, getPostUrlBySlug } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'
import MainGridLayout from '../layouts/MainGridLayout.astro'

const posts = await getDinosOfTheMonth()
const dinoOfTheMonth = posts.slice(0, 1)[0]

const title = dinoOfTheMonth.data.title
const image = dinoOfTheMonth.data.image
const hasImage = image !== undefined && image !== null && image !== ''
---
<MainGridLayout title={i18n(I18nKey.dinoOfTheMonth)} description={i18n(I18nKey.dinoOfTheMonth)} largeBanner={true}>
  <div class="card-base px-8 py-6 mb-4">
    <Icon size="96" name="stegosaurus" class="mx-auto" />
    <Heading>{i18n(I18nKey.dinoOfTheMonth)}</Heading>
  </div>
  <div class="card-base px-8  mb-4">
    <h2 class="font-bold transition text-lg text-center text-neutral-900 dark:text-neutral-100 relative mt-4 mb-2">
      {i18n(I18nKey.dinoOfTheMonthDesc)} {formatDateToMMMYYYY(dinoOfTheMonth.month)}
    </h2>
  </div>
  <div class="card-base px-8 py-6 mb-4">
    <h2>
      <a href={getPostUrlBySlug(dinoOfTheMonth.slug)}
        class="transition group text-center w-full block font-bold mb-3 text-3xl text-90
          hover:text-[var(--primary)] dark:hover:text-[var(--primary)]
          active:text-[var(--title-active)] dark:active:text-[var(--title-active)]">
        {title} {dinoOfTheMonth.data.namesuffix}
        <Icon class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute" name="material-symbols:chevron-right-rounded" ></Icon>
        <Icon class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0" name="material-symbols:chevron-right-rounded"></Icon>    
      </a>
    </h2>
      {hasImage &&
        <a href={getPostUrlBySlug(dinoOfTheMonth.slug)} aria-label= {title}
          class:list={["group max-h-[20vh] md:max-h-none mx-4 mt-4 -mb-2 md:mb-0 md:mx-0 md:mt-0",
                      "md:w-[var(--coverWidth)] relative overflow-hidden active:scale-95"]} >
        <div class="absolute pointer-events-none z-10 w-full h-full rounded-xl  group-hover:bg-black/30 group-active:bg-black/50 transition"></div>
        <div class="absolute pointer-events-none z-20 w-full h-full flex items-center justify-center ">
          <Icon name="material-symbols:chevron-right-rounded"
                class="transition opacity-0 group-hover:opacity-100 scale-50 group-hover:scale-100 text-white text-5xl">
          </Icon>
        </div>
        <ImageWrapper src={image} basePath={path.join("content/dinos/", getDir(dinoOfTheMonth.id))} alt={title} class="w-full h-full rounded-xl">
        </ImageWrapper>
        </a>
      }
      </div>    
  </div>
  <!-- <div class="card-base px-8 py-6">
    <h2 class="font-bold transition text-lg text-center text-neutral-900 dark:text-neutral-100 relative mt-4 mb-2">In den Monaten davor ...</h2>
    <p class="text-center mb-2">
    Bisherige Dino's der letzten Monate. Dein Lieblingsdino nicht dabei? Dann klick ihn fleißig an.
  </p>
    {posts.slice(1) .map(entry => (
       <PostCard
        entry={entry.post}
        title={entry.post.data.title}
        tags={entry.post.data.tags}
        category={entry.post.data.category}
        published={entry.post.data.published}
        url={getPostUrlBySlug(entry.post.slug)}
        image={entry.post.data.image}
        description={i18n(I18nKey.month) + ": " + formatDateToMMMYYYY(entry.month)}
        draft={entry.post.data.draft}
        ></PostCard>
    
      ))}
  </div> -->
</MainGridLayout>